.navbar {
    width: 100%;
}

.bd-example-container-body {
    height: 3rem;
    margin-right: 4.5rem;
    background-color: #d9f7ff;
    border-radius: .25rem;
    width: 100%;
}

.header {
    width: 100%;
}

.name {
    float: right;
}