<div class="container">
  <div class="au-header">
    <h1 mat-dialog-title class="au-title">Add Setting</h1>
  </div>
  <div mat-dialog-content class="au-content">
    <form [formGroup]="myForm" action="">
      <!-- OS:
        <br>
        <div class="form-group">
           <select formControlName="selectedOS" name="selectOs">
            <option *ngFor="let o of os" [ngValue]="o.id">{{ o.name }}</option>
          </select>
          <div *ngIf="selectedOS.touched && selectedOS.invalid" class="alert alert-danger">
            <div *ngIf="selectedOS.errors.required">OS is required.</div>
          </div> 
        </div> -->
      <br> Name:
      <br>
      <!-- add required for the parameter input -->
      <div class="form-group">
        <input autocomplete="off" formControlName="name" type="text" name="Name">
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
          <div *ngIf="name.errors.required">Name is required.</div>
        </div>
      </div>
      <br> Price:
      <br>
      <div class="form-group">
        <input autocomplete="off" formControlName="price" type="text" name="price">
        <div *ngIf="price.touched && price.invalid" class="alert alert-danger">
          <div *ngIf="price.errors.required">Price is required.</div>
          <div *ngIf="price.errors.pattern">Price must be a number.</div>
        </div>
      </div>
      <br> Category:
      <br>
      <input autocomplete="off" formControlName="category" type="text" name="Category">
      <div *ngIf="category.touched && category.invalid" class="alert alert-danger">
        <div *ngIf="category.errors.required">Category is required.</div>
      </div>
      <br>
      <br>
      <button [disabled]="myForm.invalid" class="btn btn-primary" (click)="onClose()">Add</button>
    </form>
  </div>
  <div mat-dialog-actions class="au-submit-area">
  </div>
</div>